:root {
  --font-family: "Nanum Gothic", sans-serif;
  --primary-color: white;
}
body {
  background-color: #202020;
}
.hero {
  font-family: var(--font-family);
  text-align: center;
  color: var(--primary-color);
  padding: 200px;
  background-image: url(../images/mountains.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.hero-about {
  font-family: var(--font-family);
  text-align: center;
  color: var(--primary-color);
  padding: 200px;
}
h1 {
  padding: 20px;
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 25px;
}
h2 {
  font-size: 24px;
  font-weight: lighter;
}
p {
  padding: 30px;
  font-size: 18px;
  font-weight: lighter;
}
.btn-homepage {
  color: var(--primary-color);
  font-size: 18px;
  border: 2px solid white;
}
.btn-homepage:hover {
  border: 2px solid white;
}
.image {
  max-width: 100%;
}
.picture {
  float: left;
  height: 400px;
  width: 400px;
  object-fit: cover;
}
footer {
  background-color: #282323;
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
}
