:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: white;
  --homepage-color: #202020;
  --aboutpage-color: #1b1b1b;
}
.home {
  background-color: var(--homepage-color);
}
.hero {
  font-family: var(--font-family);
  text-align: center;
  color: var(--primary-color);
  padding: 200px;
  background-image: url(../images/mountains.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.hero-content {
  margin-top: 200px;
}
.hero h1 {
  font-size: 72px;
  padding: 10px;
}
.hero h2 {
  font-size: 24px;
  font-weight: lighter;
}
.hero p {
  padding: 20px;
  font-size: 18px;
  font-weight: lighter;
}
.btn-homepage {
  color: var(--primary-color);
  font-size: 18px;
  border: 2px solid white;
}
.btn-homepage:hover {
  border: 2px solid white;
}

.picture-home {
  float: left;
  height: 400px;
  width: 400px;
  object-fit: cover;
  max-width: 100%;
}
a {
  color: white;
}
a:hover {
  color: black;
  text-decoration: none;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .hero {
    background-image: none;
  }
  body {
    text-align: center;
  }
}

.about {
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--aboutpage-color);
}
.picture-about {
  margin-left: 20px;
  height: 400px;
  width: 400px;
  object-fit: cover;
  max-width: 100%;
}
.work-photo-row {
  padding: 0 100px 10px 100px;
}
.work-full-image {
  max-width: 100%;
  max-height: 100%;
}
.picture-work {
  height: 500px;
  width: 700px;
  object-fit: cover;
  max-width: 100%;
}
.about h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
}
.about h2 {
  color: #f65282;
  font-size: 18px;
  line-height: 27px;
}
.about p {
  font-size: 18px;
  line-height: 27px;
}
.about-section {
  margin-top: 100px;
  margin: 40px;
}
.selfie {
  margin-left: 33px;
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
}
.btn-contact {
  color: var(--primary-color);
  font-size: 18px;
  border: 2px solid white;
}
.btn-contact:hover {
  border: 2px solid white;
}
.camera {
  border: 2px solid var(--homepage-color);
  padding: 25px;
  background-color: #2d2727;
  height: 80px;
  width: 200px;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
}
.work {
  background-color: var(--homepage-color);
  font-family: var(--font-family);
  color: var(--primary-color);
}
.work h1 {
  text-align: center;
  font-size: 72px;
  line-height: 85px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 100px;
}
.work-photo-row h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  padding: 10px;
}
footer {
  background-color: #282323;
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
}
