:root {
  --font-family: "Roboto", sans-serif;
  --primary-font-color: white;
  --primary-color: #202020;
  --accent-color: #282323;
  --aboutpage-color: #1b1b1b;
  --accent-color-2: #f65282;
}
.content-container {
  font-family: var(--font-family);
  color: var(--primary-font-color);
  background-color: var(--aboutpage-color);
}

p {
  font-size: 18px;
  line-height: 27px;
}

img {
  padding: 10px;
}
a {
  color: var(--primary-font-color);
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
.btn-format {
  color: var(--primary-font-color);
  font-size: 18px;
  border: 2px solid var(--primary-font-color);
}
.btn-format:hover {
  border: 2px solid var(--primary-font-color);
}
footer {
  background-color: var(--accent-color);
  color: var(--primary-font-color);
  text-align: center;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 200px;
  background-image: url(/images/mountains.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.hero h1 {
  font-size: 72px;
  padding: 10px;
}
.hero h2 {
  color: black;
  font-size: 24px;
  font-weight: lighter;
}
.hero p {
  color: black;
  padding: 20px;
  font-weight: lighter;
}
.btn-format {
  color: var(--primary-font-color);
  font-size: 18px;
  border: 2px solid var(--primary-font-color);
}
.btn-format:hover {
  border: 2px solid var(--primary-font-color);
}

.picture-home {
  float: left;
  height: 400px;
  width: 400px;
  object-fit: cover;
  max-width: 100%;
}

.about-section {
  margin-top: 100px;
  margin: 40px;
}
.about h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
}
.about h5 {
  color: var(--accent-color-2);
  line-height: 27px;
}
.selfie {
  margin-left: 33px;
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
}
.picture-about {
  margin-left: 20px;
  height: 400px;
  width: 400px;
  object-fit: cover;
  max-width: 100%;
}

.work h1 {
  text-align: center;
  font-size: 72px;
  line-height: 85px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 100px;
}

.work-photo-row {
  padding: 0 100px 10px 100px;
}
.work-photo-row h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.work-full-image {
  max-width: 100%;
  max-height: 100%;
}

.picture-work {
  height: 500px;
  width: 700px;
  object-fit: cover;
  max-width: 100%;
}

.contact {
  padding: 50px 200px 240px 200px;
  text-align: center;
}
.contact h1 {
  padding-bottom: 20px;
  font-size: 72px;
  line-height: 85px;
  font-weight: bold;
}
.contact h2 {
  color: var(--accent-color-2);
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .hero {
    background-image: none;
  }
  .hero h2 {
    color: var(--primary-font-color);
  }
  .hero p {
    color: var(--primary-font-color);
  }
  .content-container {
    text-align: center;
  }
  img {
    margin: 0 auto;
  }
  .selfie {
    display: none;
  }
  .about {
    text-align: center;
  }
}
